*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, Verdana, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  counter-reset: reason flow;
  background-color: #fff;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.yugothic {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

.-sp {
  display: none;
}

.header {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 10;
  width: 80%;
  min-width: 769px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translateX(-50%);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 48px;
}

.header__logo {
  max-height: 48px;
  margin: 0;
}

.header__logo img {
  max-width: 193px;
}

.header__navList {
  display: flex;
}

.header__navItem {
  font-size: 18px;
}

.header__navItem:not(:first-child) {
  margin-left: 48px;
}

.header__navLink {
  color: #b51d24;
}

.catch {
  position: relative;
  width: 100%;
  height: 59.5vw;
  min-height: 773px;
}

.catch__mainVisual {
  position: absolute;
  top: 0;
  left: 0;
}

.catch__mainVisualPicture {
  width: 100%;
  height: 100%;
}

.catch__mainVisualPicture img {
  width: 100%;
  min-width: 1300px;
  height: 100%;
  object-fit: cover;
}

.catch__text {
  position: absolute;
  top: clamp(316px, 41%, 41%);
  left: clamp(688px, 53%, 53%);
  z-index: 10;
}

.catch__copy img {
  width: 35.7vw;
  min-width: 515px;
}

.catch__lead {
  display: block;
  margin-top: clamp(40px, 2.97vw, 400px);
  font-size: clamp(20px, 1.39vw, 100px);
  line-height: 2;
  color: #ffffff;
  letter-spacing: 6px;
}

.catch__programName {
  display: inline-block;
  padding: 4px 8px;
  margin-top: clamp(40px, 2.97vw, 400px);
  font-size: clamp(20px, 1.39vw, 100px);
  color: #ffffff;
  letter-spacing: 4px;
  border: 1px solid #ffffff;
}
