@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, Verdana, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  counter-reset: reason flow;
  background-color: #fff;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.-sp {
  display: none;
}

.handWriting {
  display: inline-flex;
  flex-direction: column;
}

.handWriting::after {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #000000;
}

.handWriting picture {
  display: inline-flex;
  padding: 0 8px;
}

.sectionHeading {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 4px;
}

.sectionHeading__strong {
  font-weight: 400;
  color: #b51d24;
}

.header {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 10;
  width: 80%;
  min-width: 1000px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translateX(-50%);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 48px;
}

.header__logo {
  max-height: 44px;
  margin: 0;
}

.header__logo svg {
  width: 164px;
}

.header__navList {
  display: flex;
}

.header__navItem {
  font-size: 18px;
}

.header__navItem:not(:first-child) {
  margin-left: 48px;
}

.header__navLink {
  color: #b51d24;
}

.catch {
  position: relative;
  width: 100%;
  height: 59.5vw;
  min-height: 773px;
}

.catch__mainVisual {
  position: absolute;
  top: 0;
  left: 0;
}

.catch__mainVisualPicture {
  width: 100%;
  height: 100%;
}

.catch__mainVisualPicture img {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  object-fit: cover;
}

.catch__text {
  position: absolute;
  top: clamp(300px, 39%, 39%);
  left: clamp(688px, 53%, 53%);
  z-index: 10;
}

.catch__copy img {
  width: 35.7vw;
  min-width: 515px;
}

.catch__lead {
  display: block;
  margin-top: clamp(40px, 2.97vw, 400px);
  font-size: clamp(20px, 1.39vw, 100px);
  line-height: 2;
  color: #ffffff;
  letter-spacing: 6px;
}

.catch__programName {
  display: inline-block;
  padding: 4px 8px;
  margin-top: clamp(40px, 2.97vw, 400px);
  font-size: clamp(20px, 1.39vw, 100px);
  color: #ffffff;
  letter-spacing: 4px;
  border: 1px solid #ffffff;
}

.overview {
  position: relative;
  z-index: 10;
  width: 77.7%;
  min-width: 1120px;
  padding: 100px 106px 110px;
  margin: 0 auto -80px;
  margin-top: clamp(-80px, -6.95vw, -1000px);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20.88px 3.12px rgba(76, 76, 76, 0.1);
}

.overview__lead {
  font-size: 28px;
  line-height: 2.1;
  text-align: center;
  letter-spacing: 4px;
  letter-spacing: 6px;
  font-feature-settings: "palt";
}

.overview__leadStrong {
  font-weight: 400;
  color: #b51d24;
}

.overview .handWriting {
  margin: 0px 4px 0 -16px;
}

.overview .handWriting img {
  position: relative;
  top: 8px;
  width: 184px;
}

.overview__graph {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin: 88px 0 0;
}

.overview__chartWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 46%;
}

.overview__chartSpan {
  display: block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.overview__chartSpan.-primary {
  margin-top: 6px;
  color: #b51d24;
}

.overview__chartNum {
  display: block;
  margin-top: 6px;
  letter-spacing: 1px;
}

.overview__chartCaption {
  position: absolute;
  top: 28px;
}

.overview__chartCaption.-pie {
  left: 0;
}

.overview__chartCaption.-bar {
  left: 36px;
}

.overview__chart.-pie img {
  max-width: 264px;
}

.overview__chart.-bar img {
  max-width: 160px;
}

.overview__chartStrong {
  font-size: 60px;
  color: #b51d24;
}

.overview__chartUnit {
  font-size: 40px;
  color: #b51d24;
}

.overview__pointList {
  display: flex;
  padding: 16px 0;
  margin: 64px 0 0;
  border: 1px solid #b51d24;
  border-radius: 10px;
}

.overview__pointItem {
  width: calc(100% / 3);
  text-align-last: center;
}

.overview__pointItem:not(:first-child) {
  border-left: 1px solid #b51d24;
}

.overview__pointHeading {
  margin: 12px 0 16px;
  font-size: 13px;
  font-weight: 400;
  color: #b51d24;
  letter-spacing: 2px;
}

.overview__pointSpan {
  display: block;
  margin: 16px 0 8px;
  font-weight: 600;
  letter-spacing: 1px;
}

.overview__pointStrong {
  color: #b51d24;
}

.overview__subHeading {
  margin: 48px 0 0;
  font-size: 23px;
  line-height: 2.1;
  text-align: center;
  letter-spacing: 2px;
}

.overview__subHeadingStrong {
  font-weight: 400;
  color: #b51d24;
}

.overview__logos {
  display: block;
  margin: 40px 0 0;
}

.overview__logos img {
  width: 100%;
}

.overview__paragraphWrapper {
  text-align: center;
}

.overview__paragraph {
  display: inline-block;
  padding: 0 10px 4px;
  margin: 32px 0 0;
  font-size: 18px;
  letter-spacing: 3px;
  border-bottom: 2px solid #b51d24;
}

.conversionArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 138px 24px;
}

.conversionArea__backimage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.conversionArea__backimage img {
  width: 100%;
  height: 100%;
}

.conversionArea__heading {
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 6px;
  font-feature-settings: "palt";
}

.conversionArea__links {
  display: flex;
}

.conversionArea__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  margin: 48px 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.conversionArea__link.-primary {
  padding: 0 0 0 40px;
  margin-right: 40px;
  color: #b51d24;
  background-color: #ffffff;
}

.conversionArea__link.-secondary {
  padding: 0 0 0 56px;
}

.conversionArea__link.-secondary .conversionArea__text {
  margin-left: 48px;
}

.conversionArea__icon {
  display: flex;
  align-items: center;
  height: 120px;
}

.conversionArea__icon.-pc img {
  width: 72px;
  height: auto;
}

.conversionArea__icon.-click img {
  width: 40px;
  height: auto;
}

.conversionArea__arrow {
  position: absolute;
  right: 14px;
  bottom: 12px;
}

.conversionArea__arrow img {
  width: 24px;
}

.conversionArea__text {
  margin-left: 24px;
}

.voice {
  max-width: 1120px;
  padding: 80px 0;
  margin: 0 auto;
}

.voice__list {
  margin: 64px 0 0;
}

.voice__item {
  display: flex;
}

.voice__item:not(:first-child) {
  margin-top: 56px;
}

.voice__person {
  text-align: center;
}

.voice__person img {
  width: 220px;
  height: auto;
}

.voice__name {
  font-size: 18px;
  color: #b51d24;
  letter-spacing: 2px;
}

.voice__text {
  margin: 0 0 0 16px;
}

.voice__positionBefore {
  font-size: 15px;
  letter-spacing: 2px;
}

.voice__positionAfter {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #b51d24;
  letter-spacing: 2px;
}

.voice__positionAfter::before {
  display: inline-block;
  content: ">>";
  transform: scale(0.6, 1);
}

.voice__profile {
  padding: 4px 0 4px 12px;
  margin: 18px 0 0;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
}

.voice__paragraph {
  font-size: 15px;
  line-height: 2.3;
  text-align: justify;
  letter-spacing: 2px;
  font-feature-settings: "palt";
}

.career {
  padding: 48px 0;
}

.career__inner {
  max-width: 980px;
  margin: 0 auto;
}

.career .sectionHeading {
  color: #ffffff;
}

.career__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
  margin: 32px 0 0;
}

.career__item {
  padding: 12px 0;
  font-size: 14px;
  line-height: 2.1;
  color: #b51d24;
  text-align: center;
  letter-spacing: 2px;
  background-color: #ffffff;
  border-radius: 10px;
  font-feature-settings: "palt";
}

.backimage img {
  width: 100%;
  min-width: 1280px;
}

.get {
  margin: 80px 0;
}

.get .sectionHeading {
  line-height: 2.14;
}

.get__handwriting img {
  display: block;
  max-width: 716px;
  margin: 60px auto 0;
}

.get__list {
  max-width: 1000px;
  margin: 72px auto 0;
  counter-reset: get-num 0;
}

.get__item {
  position: relative;
  display: flex;
  padding: 32px 64px 32px 32px;
  text-align: justify;
  box-shadow: 0px 7px 16.92px 1.08px rgba(54, 54, 54, 0.21);
}

.get__item .get__itemPicture img {
  width: 300px;
}

.get__item::before {
  position: absolute;
  top: -15px;
  left: 56px;
  font-size: 20px;
  color: #e25c60;
  letter-spacing: 4px;
  content: "#" counter(get-num);
  counter-increment: get-num 1;
}

.get__item:first-child .get__itemHandwriting img {
  width: 72px;
}

.get__item:nth-child(2) .get__itemHandwriting img {
  width: 60px;
}

.get__item:nth-child(3) {
  padding: 32px 64px 32px 50px;
}

.get__item:nth-child(3) .get__itemHandwriting img {
  width: 41px;
}

.get__item:nth-child(3) .get__itemPicture {
  margin: 24px 8px 24px 56px;
}

.get__item:nth-child(2n) {
  flex-direction: row-reverse;
  padding: 32px 48px 32px 64px;
}

.get__item:nth-child(2n)::before {
  right: 56px;
  left: auto;
}

.get__item:nth-child(2n) .get__text {
  margin: 32px 52px 0 0;
}

.get__item:not(:first-child) {
  margin: 80px 0 0;
}

.get__itemPicture {
  display: block;
  margin: 24px 0 24px 44px;
}

.get__itemPicture img {
  vertical-align: bottom;
  box-shadow: 0px 0px 12.22px 0.78px rgba(54, 54, 54, 0.21);
}

.get__itemPicture:nth-child(2n) {
  margin: 24px 44px 24px 16px;
}

.get__text {
  margin: 32px 0 0 52px;
}

.get__heading {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #b51d24;
  letter-spacing: 2px;
}

.get__paragraph {
  margin: 20px 0 0;
  font-size: 15px;
  line-height: 2.6;
  color: #414141;
}

.recommend__list {
  max-width: 614px;
  margin: 64px auto;
}

.recommend__item {
  display: flex;
  align-items: center;
}

.recommend__item:not(:first-child) {
  margin: 24px 0 0;
}

.recommend__item .recommend__icon {
  display: flex;
  align-items: center;
}

.recommend__item .recommend__icon img {
  width: 36px;
  height: auto;
}

.recommend__item .recommend__span {
  margin-left: 16px;
  font-size: 18px;
  color: #b51d24;
  letter-spacing: 2px;
}

.loopslider {
  margin: 100px 0;
}

.loopslider__wrapper {
  display: flex;
  overflow: hidden;
}

.loopslider__images {
  display: flex;
}

.loopslider__images:first-child {
  animation: gallery 100s -50s linear infinite;
}

.loopslider__images:first-child .loopslider__picture:nth-child(odd) {
  margin: 72px 0 0;
}

.loopslider__images:last-child {
  animation: gallery2 100s linear infinite;
}

.loopslider__images:last-child .loopslider__picture:nth-child(even) {
  margin: 72px 0 0;
}

.loopslider__images img {
  height: 300px;
}

@keyframes gallery {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes gallery2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.curriculum {
  max-width: 1000px;
  margin: 0 auto;
}

.curriculum__lead {
  margin: 28px auto 0;
  font-size: 18px;
  line-height: 2.7;
  text-align: center;
  letter-spacing: 1px;
}

.curriculum .handWriting {
  margin: 0 4px 0 -12px;
}

.curriculum .handWriting picture {
  padding: 0 4px;
}

.curriculum .handWriting img {
  position: relative;
  top: 7px;
  width: 144px;
}

.curriculum__termHeader {
  display: block;
  margin: 48px 0 64px;
}

.curriculum__termHeader img {
  width: 100%;
}

.curriculum__term {
  position: relative;
}

.curriculum__term:not(:first-of-type) {
  margin-top: 56px;
}

.curriculum__termArrow {
  position: absolute;
}

.curriculum__termArrow img {
  width: 30px;
}

.curriculum__termInner {
  margin-left: 60px;
}

.curriculum__termNum {
  display: inline-block;
  padding: 8px 24px;
  color: #b51d24;
  letter-spacing: 3px;
  border: 1px solid #b51d24;
  border-radius: 10px;
}

.curriculum__termHeading {
  margin: 24px 0 0;
  font-size: 20px;
  font-weight: 400;
  color: #b51d24;
  letter-spacing: 1px;
}

.curriculum__termParagraph {
  margin: 12px 0 0;
  font-size: 15px;
  line-height: 2.6;
  letter-spacing: 1px;
}

.curriculum__summary {
  padding: 24px 32px 16px;
  margin: 20px 0 0;
  background-color: #fdf5f6;
  border-radius: 10px;
}

.curriculum__summaryHeading {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #b51d24;
}

.curriculum__summaryList {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0;
}

.curriculum__summaryItem {
  width: 48%;
  margin: 0 0 8px;
  font-size: 15px;
}

.curriculum__summaryItem::before {
  content: "ãƒ»";
}

.curriculum__caution {
  display: block;
  margin: 24px 0 0;
  font-size: 13px;
  line-height: 2.3;
  letter-spacing: 1px;
}

.curriculum__summaryContents {
  line-height: 2;
}
