*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", -apple-system,
    BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue,
    Verdana, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  counter-reset: reason flow;
  background-color: #fff;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
