@import "_variables";

.footer {
  &__logo {
    width: 180px;
    margin: 40px auto 0;

    .cls-1 {
      fill: #bb0f1f;
    }
  }

  &__navList {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
  }

  &__navItem {
    &:not(:first-child) {
      margin-left: 32px;
    }

    a {
      color: $--color-primary;
      letter-spacing: 2px;
    }
  }

  &__copyrightWrapper {
    padding: 8px;
    margin: 32px 0 0;
    text-align: center;
    background-color: $--color-primary;
  }

  &__copyright {
    font-size: 11px;
    color: $white;
    letter-spacing: 1px;
  }
}

@include mq(mobile) {
  .footer {
    padding-bottom: 16.54vw;

    &__logo {
      width: 160px;
    }

    &__navItem {
      font-size: 13px;
    }
  }
}
