@import "_variables";

.header {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 500;
  width: 80%;
  min-width: $--content-width-xs;
  background-color: $white;
  border-radius: 10px;
  transform: translateX(-50%);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 48px;

    &.-pc {
      .cls-1 {
        fill: #bb0f1f;
      }
    }

    &.-sp {
      display: none;
      .cls-1 {
        fill: $white;
      }
    }
  }

  &__logo {
    max-height: 44px;
    margin: 0;

    svg {
      width: 164px;
    }
  }

  &__navList {
    display: flex;
  }

  &__navItem {
    font-size: 18px;

    &:not(:first-child) {
      margin-left: 48px;
    }
  }

  &__navLink {
    color: $--color-primary;
  }
}

@include mq(mobile) {
  .header {
    top: 0;
    width: 100%;
    min-width: auto;
    padding: 16px 8px;
    background-color: transparent;
    border-radius: 0;

    &__nav {
      padding: 0;

      &.-pc {
        display: none;
      }

      &.-sp {
        display: flex;
      }
    }

    &__logo {
      margin-left: 16px;
      line-height: 1;
    }

    &__hammenu {
      height: 48px;
    }

    &__hammenuWrapper {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100vw;
      height: 93vh;
      background-color: rgba($color: $--color-primary, $alpha: 0.9);
    }

    &__hammenuInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
      font-size: 16px;

      a {
        color: $white;

        &:not(:first-child) {
          margin-top: 48px;
        }
      }
    }

    &.-fixed {
      position: fixed;
      background-color: $white;

      .header__logo {
        .cls-1 {
          fill: $--color-primary;
        }
      }
    }

    &__trigger,
    &__trigger span {
      box-sizing: border-box;
      display: inline-block;
      transition: all 0.4s;
    }

    &__trigger {
      position: relative;
      width: 48px;
      height: 48px;
    }

    &__trigger span {
      position: absolute;
      left: 50%;
      width: 30px;
      height: 3px;
      background-color: #fff;

      &:first-of-type {
        transform: translate(-50%, 12px);
      }

      &:nth-of-type(2) {
        top: 48%;
        transform: translate(-50%, -50%);
      }

      &:nth-of-type(3) {
        transform: translate(-50%, 31px);
      }
    }

    &__trigger.active span:nth-of-type(1) {
      background-color: $--color-primary;
      transform: translate(-12px, 22px) rotate(-45deg);
    }
    &__trigger.active span:nth-of-type(2) {
      opacity: 0;
    }
    &__trigger.active span:nth-of-type(3) {
      background-color: $--color-primary;
      transform: translate(-12px, 22px) rotate(45deg);
    }
  }
}
