@import "_variables";

.catch {
  position: relative;
  width: 100%;
  height: 59.5vw;
  min-height: 773px;

  &__mainVisual {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__mainVisualPicture {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      min-width: $--content-width-xl;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    top: clamp(300px, 39%, 39%);
    left: clamp(688px, 53%, 53%);
    z-index: 10;
  }

  &__copy {
    img {
      width: 35.7vw;
      min-width: 515px;
    }
  }

  &__lead {
    display: block;
    margin-top: clamp(40px, 2.97vw, 400px);
    font-size: clamp(20px, 1.39vw, 100px);
    line-height: 2;
    color: $white;
    letter-spacing: 6px;
  }

  &__programName {
    display: inline-block;
    padding: 4px 8px;
    margin-top: clamp(40px, 2.97vw, 400px);
    font-size: clamp(20px, 1.39vw, 100px);
    color: $white;
    letter-spacing: 4px;
    border: 1px solid $white;
  }
}

.overview {
  position: relative;
  z-index: 10;
  width: 77.7%;
  min-width: $--content-width-md;
  padding: 100px 106px 110px;
  margin: 0 auto -80px;
  margin-top: clamp(-80px, -6.95vw, -1000px);
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 20.88px 3.12px rgba(76, 76, 76, 0.1);

  &__lead {
    font-size: 28px;
    line-height: 2.1;
    text-align: center;
    letter-spacing: 4px;
    letter-spacing: 6px;
    font-feature-settings: "palt";
  }

  &__leadStrong {
    font-weight: 400;
    color: $--color-primary;
  }

  .handWriting {
    margin: 0px 4px 0 -16px;

    img {
      position: relative;
      top: 8px;
      width: 184px;
    }
  }

  &__graph {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin: 88px 0 0;
  }

  &__chartWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 46%;
  }

  &__chartSpan {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;

    &.-primary {
      margin-top: 6px;
      color: $--color-primary;
    }
  }

  &__chartNum {
    display: block;
    margin-top: 6px;
    letter-spacing: 1px;
  }

  &__chartCaption {
    position: absolute;
    top: 28px;

    &.-pie {
      left: 0;
    }

    &.-bar {
      left: 36px;
    }
  }

  &__chart {
    &.-pie {
      img {
        max-width: 264px;
      }
    }

    &.-bar {
      img {
        max-width: 160px;
      }
    }
  }

  &__chartStrong {
    font-size: 60px;
    color: $--color-primary;
  }

  &__chartUnit {
    font-size: 40px;
    color: $--color-primary;
  }

  &__pointList {
    display: flex;
    padding: 16px 0;
    margin: 64px 0 0;
    border: 1px solid $--color-primary;
    border-radius: 10px;
  }

  &__pointItem {
    width: calc(100% / 3);
    text-align-last: center;

    &:not(:first-child) {
      border-left: 1px solid $--color-primary;
    }
  }

  &__pointHeading {
    margin: 12px 0 16px;
    font-size: 13px;
    font-weight: 400;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__pointSpan {
    display: block;
    margin: 16px 0 8px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__pointStrong {
    color: $--color-primary;
  }

  &__subHeading {
    margin: 48px 0 0;
    font-size: 23px;
    line-height: 2.1;
    text-align: center;
    letter-spacing: 2px;
  }

  &__subHeadingStrong {
    font-weight: 400;
    color: $--color-primary;
  }

  &__logos {
    display: block;
    margin: 40px 0 0;

    img {
      width: 100%;
    }
  }

  &__paragraphWrapper {
    text-align: center;
  }

  &__paragraph {
    display: inline-block;
    padding: 0 10px 4px;
    margin: 32px 0 0;
    font-size: 18px;
    letter-spacing: 3px;
    border-bottom: 2px solid $--color-primary;
  }
}

.conversionArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 138px 24px;

  &__backimage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    font-size: 25px;
    color: $white;
    letter-spacing: 6px;
    font-feature-settings: "palt";
  }

  &__links {
    display: flex;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 48px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    letter-spacing: 2px;
    border: 1px solid $white;
    border-radius: 10px;

    &.-primary {
      padding: 0 0 0 40px;
      margin-right: 40px;
      color: $--color-primary;
      background-color: $white;
    }

    &.-secondary {
      padding: 0 0 0 56px;
      .conversionArea__text {
        margin-left: 48px;
      }

      .conversionArea__arrow {
        // filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg)
        //   brightness(107%) contrast(101%);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 120px;

    &.-pc {
      img {
        width: 72px;
        height: auto;
      }
    }

    &.-click {
      img {
        width: 40px;
        height: auto;
      }
    }
  }

  &__arrow {
    position: absolute;
    right: 14px;
    bottom: 12px;

    img {
      width: 24px;
    }
  }

  &__text {
    margin-left: 24px;
  }
}

.voice {
  max-width: $--content-width-md;
  padding: 80px 0;
  margin: 0 auto;

  &__list {
    margin: 64px 0 0;
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 56px;
    }
  }

  &__person {
    text-align: center;

    img {
      width: 220px;
      height: auto;
    }
  }

  &__name {
    font-size: 18px;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__text {
    margin: 0 0 0 16px;
  }

  &__positionBefore {
    font-size: 15px;
    letter-spacing: 2px;
  }

  &__positionAfter {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    color: $--color-primary;
    letter-spacing: 2px;

    &::before {
      display: inline-block;
      content: ">>";
      transform: scale(0.6, 1);
    }
  }

  &__profile {
    padding: 4px 0 4px 12px;
    margin: 18px 0 0;
    font-weight: 400;
    color: $white;
    letter-spacing: 2px;
    // background-image: -webkit-linear-gradient(
    //   103deg,
    //   rgb(181, 30, 36) 0%,
    //   rgb(203, 57, 63) 29%,
    //   rgb(225, 84, 89) 100%
    // );
  }

  &__paragraph {
    font-size: 15px;
    line-height: 2.3;
    text-align: justify;
    letter-spacing: 2px;
    font-feature-settings: "palt";
  }
}

.career {
  padding: 48px 0;
  // background-image: linear-gradient(
  //   103deg,
  //   rgb(181, 30, 36) 0%,
  //   rgb(203, 57, 63) 29%,
  //   rgb(225, 84, 89) 100%
  // );

  &__inner {
    max-width: 980px;
    margin: 0 auto;
  }

  .sectionHeading {
    color: $white;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    margin: 32px 0 0;
  }

  &__item {
    padding: 12px 0;
    font-size: 14px;
    line-height: 2.1;
    color: $--color-primary;
    text-align: center;
    letter-spacing: 2px;
    background-color: $white;
    border-radius: 10px;
    font-feature-settings: "palt";
  }
}

.backimage {
  img {
    width: 100%;
    min-width: $--content-width-xl;
  }
}

.get {
  margin: 80px 0;

  .sectionHeading {
    line-height: 2.14;
  }

  &__handwriting {
    img {
      display: block;
      max-width: 716px;
      margin: 60px auto 0;
    }
  }

  &__list {
    max-width: $--content-width-xs;
    margin: 72px auto 0;
    counter-reset: get-num 0;
  }

  &__item {
    position: relative;
    display: flex;
    padding: 32px 64px 32px 32px;
    text-align: justify;
    box-shadow: 0px 7px 16.92px 1.08px rgba(54, 54, 54, 0.21);

    .get__itemPicture {
      img {
        width: 300px;
      }
    }

    &::before {
      position: absolute;
      top: -15px;
      left: 56px;
      font-size: 20px;
      color: $--color-primary-tint;
      letter-spacing: 4px;
      content: "#" counter(get-num);
      counter-increment: get-num 1;
    }

    &:first-child {
      .get__itemHandwriting {
        img {
          width: 72px;
        }
      }
    }

    &:nth-child(2) {
      .get__itemHandwriting {
        img {
          width: 60px;
        }
      }
    }

    &:nth-child(3) {
      padding: 32px 64px 32px 50px;

      .get__itemHandwriting {
        img {
          width: 41px;
        }
      }

      .get__itemPicture {
        margin: 24px 8px 24px 56px;
      }
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
      padding: 32px 48px 32px 64px;

      &::before {
        right: 56px;
        left: auto;
      }

      .get__text {
        margin: 32px 52px 0 0;
      }
    }

    &:not(:first-child) {
      margin: 80px 0 0;
    }
  }
  &__itemPicture {
    display: block;
    margin: 24px 0 24px 44px;

    img {
      vertical-align: bottom;
      box-shadow: 0px 0px 12.22px 0.78px rgba(54, 54, 54, 0.21);
    }

    &:nth-child(2n) {
      margin: 24px 44px 24px 16px;
    }
  }

  &__text {
    margin: 32px 0 0 52px;
  }

  &__heading {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: $--color-primary;
    letter-spacing: 2px;
  }

  &__paragraph {
    margin: 20px 0 0;
    font-size: 15px;
    line-height: 2.6;
    color: #414141;
  }
}

.recommend {
  &__list {
    max-width: 614px;
    margin: 64px auto;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin: 24px 0 0;
    }

    .recommend__icon {
      display: flex;
      align-items: center;

      img {
        width: 36px;
        height: auto;
      }
    }

    .recommend__span {
      margin-left: 16px;
      font-size: 18px;
      color: $--color-primary;
      letter-spacing: 2px;
    }
  }
}

.loopslider {
  margin: 100px 0;

  &__wrapper {
    display: flex;
    overflow: hidden;
  }

  &__images {
    display: flex;

    &:first-child {
      animation: gallery 100s -50s linear infinite;

      .loopslider__picture {
        &:nth-child(odd) {
          margin: 72px 0 0;
        }
      }
    }

    &:last-child {
      animation: gallery2 100s linear infinite;

      .loopslider__picture {
        &:nth-child(even) {
          margin: 72px 0 0;
        }
      }
    }

    img {
      height: 300px;
    }
  }

  @keyframes gallery {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes gallery2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

.curriculum {
  max-width: $--content-width-xs;
  margin: 0 auto;

  &__lead {
    margin: 28px auto 0;
    font-size: 18px;
    line-height: 2.7;
    text-align: center;
    letter-spacing: 1px;
  }

  .handWriting {
    margin: 0 4px 0 -12px;

    picture {
      padding: 0 4px;
    }

    img {
      position: relative;
      top: 7px;
      width: 144px;
    }
  }

  &__termHeader {
    display: block;
    margin: 48px 0 64px;

    img {
      width: 100%;
    }
  }

  &__term {
    position: relative;

    &:not(:first-of-type) {
      margin-top: 56px;
    }
  }

  &__termArrow {
    position: absolute;
    img {
      width: 30px;
    }
  }

  &__termInner {
    margin-left: 60px;
  }

  &__termNum {
    display: inline-block;
    padding: 8px 24px;
    color: $--color-primary;
    letter-spacing: 3px;
    border: 1px solid $--color-primary;
    border-radius: 10px;
  }

  &__termHeading {
    margin: 24px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: $--color-primary;
    letter-spacing: 1px;
  }

  &__termParagraph {
    margin: 12px 0 0;
    font-size: 15px;
    line-height: 2.6;
    letter-spacing: 1px;
  }

  &__summary {
    padding: 24px 32px 16px;
    margin: 20px 0 0;
    background-color: $--color-primary-light;
    border-radius: 10px;
  }

  &__summaryHeading {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $--color-primary;
  }

  &__summaryList {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0;
  }

  &__summaryItem {
    width: 48%;
    margin: 0 0 8px;
    font-size: 15px;

    &::before {
      content: "ãƒ»";
    }
  }

  &__caution {
    display: block;
    margin: 24px 0 0;
    font-size: 13px;
    line-height: 2.3;
    letter-spacing: 1px;
  }

  &__summaryContents {
    line-height: 2;
  }
}
