// color
$white: #ffffff;
$black: #3a3531;
$--color-primary: #b51d24;

// Width Rule
$--content-width-xxs: 320px;
$--content-width-xs: 769px;
$--content-width-sm: 1000px;
$--content-width-md: 1300px;

$breakpoints: (
  "mobile": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 1025px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
